@page
@using FE.Const
@model VNPayModel
@{
    ViewData["Title"] = "VNPay";
}

<div class="text-center">
    <h1 class="display-4">VNPay</h1>
</div>

<h2> Create New Transaction</h2>

@await Html.PartialAsync(PartialName.PaymentFormPartial, "")

@if (!string.IsNullOrEmpty(Model.PaymentResult))
{
    <div>
        Redirect URL: <a href=@Model.PaymentResult> Payment Link</a>
        @* Redirect URL: @Model.PaymentResult *@
    </div>
}
<hr />

@await Html.PartialAsync(PartialName.OrderListPartial, Model.Orders)
